body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#messageArea{
	width:200px;
	height:100px;
}
.messageBody{
	background-color:#D1C2B2;
	padding:20px;
	margin:20px;
}
